/* Disable verticle scroll */
html {
	background: url(../img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #0c0c1e;
    cursor: url('../img/rocket.png'), default;
}

html, body {
	overflow-x: hidden;
	font-family: 'Audiowide', cursive;
	letter-spacing: .1em;
	margin: 0;
}

h1 {
	font-size: 3em;
	margin-bottom: -5px;
	opacity: 1;
	border-radius: 10px;
	text-decoration: underline;
}

h2 {
	font-size: 1.4em;
	opacity: 1;
	border-radius: 10px;
}

a {
	border-color: #dadada;
	color: #fefefe;
	transition: all .3s ease-in;
	transition: all .3s ease-out;
}


a.carousel-btn[target="_blank"] {
	border-color: #dadada;
	color: #fefefe;
	outline: none;
}

a.carousel-btn:active {
	border-color: #dadada;
	color: #fefefe;
	outline: none;
}

a.carousel-btn:hover {
	color: #363636;
	border-color: #b5b5b5;
	outline: none;
}

ul.column {
	margin-top: 5px;
}

li {
	font-size: 1.2em;
	color: white;
}

li img {
	margin: 15px 0px 2px 0px;
	width: 40%;
}

label.label {
	color: #ffffff;
}

textarea.textarea,
input.input {
	font-size: .8em;
}

#particles-js{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
}

#email {
	padding: 7px;
}

/*.shadow {
    -webkit-box-shadow: 0px 0px 20px 1px rgba(255,255,255,.2);
    -moz-box-shadow:0px 0px 20px 1px rgba(255,255,255,.2);
	box-shadow: 0px 0px 20px 1px rgba(126,153,236,.2);
	border-radius: 10px;
}*/

.container-main {
	position: relative;
	z-index: 1;
	margin: 20px auto;
	width: 375px;
	text-align: center;
	cursor: default;
}

.main {
	color: white;
	border-radius: 10px;
	padding: 0px;
}

.is-hidden {
	display: none;
}

.list {
	transition: all 2s ease-in;
	transition: all 1s ease-out;
}

.list:hover {
	transform: scale(1.2);
}

.nav-button {
	margin: 10px 0px 10px 0px;
	padding: 0;
}

.nav-button a {
	background-color: rgba(0, 0, 0, 0);
	color: white;
	font-size: 1.05em
}

.contact-header {
	margin: 30px 0;
}

.contact-item li {
	font-size: .68em;
}

.submit-div {
	text-align: center;
}

.hint {
	margin: 30px auto 0 auto;
	width: 231px;

}

.hint div {
	padding: 0;
}

.hint h2 {
	margin: 0;
}

/* CAROUSEL */

.container-carousel {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  margin-top: 70px;
  margin-bottom: 300px;
  cursor: default;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 300px;
  color: #FFF;
  opacity: 1;
  border-radius: 10px;
  text-align: center;
}

.carousel-btn {
	margin: 0px auto 0px auto;
	padding: 15px;
	max-width: 65px;
	font-size: .9em;
	color: white;
	background-color: rgba(0, 0, 0, 0);
}

.portfolio-site {
	margin-right: 10px;
}

.portfolio-code {
	margin-left: 10px;
}

.portfolio-head {
	color: white;
	background-color: rgba(255, 255, 255, .);
	margin: 20px 0 -20px 0;
}

.portfolio-text {
	font-size: .8em;
	color: white;
	margin-bottom: 15px;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  background: url(../img/camp.png);
}

.b {
  transform: rotateY(60deg) translateZ(250px);
  background: url(../img/trending.png);

}

.c {
  transform: rotateY(120deg) translateZ(250px);
  background: url(../img/form.png);
}

.d {
  transform: rotateY(180deg) translateZ(250px);
  background: url(../img/berlin.png;
}

.e {
  transform: rotateY(240deg) translateZ(250px);
  background: url(../img/weather.png);
} 

.f {
  transform: rotateY(300deg) translateZ(250px);
  background: url(../img/sunbug.png);
}

.arrows {
	width: 375px;
	margin: 0px auto 0 auto;
	text-align: center;
	cursor: default;
}

.inner {
	margin: 0 auto;
	width: 375px;
	cursor: default;
}

.inner a {
	background-color: 
}

.slide-info h2 {
	font-size: 1.8em;
}

.slide-info p {
	font-size: 1em;
}

.prev:hover,
.next:hover {
	background-color: rgba(255, 255, 255, .6);
}

.prev:active,
.next:active,
.prev:focus,
.next:focus,
.next:visited,
.prev:visited {
	border: none;
	opacity: 1
}

/* MOBILE DEVICES */
@media(max-width: 500px) {
	h1 {
		font-size: 2.4em;
	}

	h2 {
		font-size: 1em;
	}

	.container-main {
		transform: scale(1);
		width: 280px;
	}

	.nav-button a {
		margin: 10px auto 0 auto;
		padding: 5px;
		display: block;
		width: 150px;
	}

	.contact-item li {
		font-size: .52em;
	}

	.container-carousel {
		margin-top: 20px;
		transform: scale(.7);
	}

	.arrows {
		margin-top: 0px;
	}

}

@media(max-width: 400px) {
	.arrows,
	.inner {
		width: 300px;
	}

}


















